<h1>Settings</h1>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link @(ActivePage == "Forms" ? "active" : "")" href="settings/forms">Verb Forms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ActivePage == "Verbs" ? "active" : "")" href="settings/verbs">Verbs</a>
    </li>
</ul>

@code {
    [Parameter]
    public string ActivePage { get; set; } = "Forms";
}
